body {
    background-color: lightskyblue;
    color: aliceblue;
    font-family: "Edu AU VIC WA NT Guides", cursive;
    display:flex;
    justify-content: center;
    align-items: centers;
    height: 700px;
    margin:0;
}

button {
background-color: white;
color: #f88379;
font-family: "Edu AU VIC WA NT Guides", cursive;
}

.passo{
    display: none;
}

.passo.ativo{
    display:block
}

main{
    text-align: center;
    max-width: 90%;
}

img {

    max-width: 80%;
}

